<h1>投稿一覧</h1>
<%= form_with model: @post, local: true do |form| %>
  <p>
    <%= form.text_field :body %>
    <%= form.submit "送信" %>
  </p>
<% end %>


<% @posts.each do |post| %>
  <p><%= post.body %></p>
<% end %>

<%= paginate @posts %>
